@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: pt setrif, sans-serif;
    background-color: #3a3a3a;
    color: white;
}

/* nav bar */

/* #page-top {
    width: 100%;
    background-color: darkgoldenrod;
    border: 2px solid #3a3a3a;
    left: 0;
    bottom: 0;
} */

#header {
    width: 100%;
    height: 100px;
    background-color: darkgoldenrod;
    border: 2px solid #3a3a3a;
}

#logo {
    float: left;
    margin: 10px 20px;
    color: white;
    background-color: black;
}


#nav-bar {
    background-color: rgb(78, 57, 29);
    margin: 10px;
}

#nav-bar li {
    display: inline;
    float: right;
    margin: 10px;
    font-size: x-large;
}

.active {
    border-bottom: 1px solid whitesmoke;
}

/* home top */

#head-text {
    width: 100%;
    float: left;
    margin: 20px;
    padding: 50px;
    background-color: red;
    text-align: center;
    display: inline-block;
}

#about-text {
    width: 100%;
    text-align: center;
    margin: 20px;
    padding: 50px;
    background-color: blue;
    float: left;
    display: inline-block;
}

#dan-live {
    height: 500px;
    width: 100%;
    background: url(../css/images/pexels-pavel-danilyuk-7521069.jpg) no-repeat center center;
    display: inline-block;
}

/* Footer */

/* footer */

footer {
    /* height: 90px; */
    /* position: fixed; */
    /* height: 20%; */
    width: 100%;
    background-color: darkgoldenrod;
    border: 2px solid #3a3a3a;
    left: 0;
    bottom: 0;
    text-align: center;
    list-style-type: none;
    display: block;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* footer {
    position: fixed;
    height: 20%;
    width: 100%;
    background-color: darkgoldenrod;
    left: 0;
    bottom: 0;
    text-align: center;
    list-style-type: none;
    display: block;
} */


/* #footer-elements {
    position: fixed;
    height: 20%;
    width: 100%;
    background-color: darkgoldenrod;
    left: 0;
    bottom: 0;
    text-align: center;
    list-style-type: none;
    display: block;
} */

/* get started page  */

#start-info {
    width: 100%;
    text-align: center;
    margin: 20px;
    padding: 50px;
    background-color: rgb(151, 151, 223);
    float: left;
    display: inline-block;
}

#what-need {
    width: 100%;
    text-align: center;
    margin: 20px;
    padding: 50px;
    background-color: rgb(187, 91, 47);
    float: left;
    display: inline-block;
}

#faqs {
    width: 100%;
    text-align: center;
    margin: 20px;
    padding: 50px;
    background-color: rgb(50, 155, 64);
    float: left;
    display: inline-block;
}

#guitar-strum {
    height: 500px;
    width: 100%;
    background: url(../css/images/pexels-brent-keane-1751731\ \(1\).jpg) no-repeat center center;
    display: inline-block;
}