@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h1 , h2 {
    letter-spacing: 3px;
    text-transform: uppercase;
}

body {
    font-family: pt setrif, sans-serif;
    background-color: #3a3a3a;
    color: white;
    background-image: url(../images/digital-paper-5316752_1920.jpg);
}

/* nav bar */

#header {
    width: 100%;
    height: 100px;
    background-color: darkgoldenrod;
    border: 2px solid #3a3a3a;
    margin: 5px;
}

#logo {
    float: left;
    margin: 10px 20px;
    color: white;
    background-color: black;
}


#nav-bar {
    background-color: rgba(78, 57, 29, 0.925);
    margin: 10px;
}

#nav-bar li {
    display: inline;
    float: right;
    margin: 10px;
    font-size: x-large;
}

.active {
    border-bottom: 1px solid whitesmoke;
}

/* home top */

#head-text {
    width: 100%;
    float: left;
    margin: 20px;
    padding: 50px;
    background-color: rgba(133, 134, 62, 0.925);
    text-align: center;
}

#about-text {
    width: 100%;
    text-align: center;
    margin: 20px;
    padding: 50px;
    background-color: rgba(111, 122, 68, 0.925);
    float: left;
}

#dan-live {
    height: 500px;
    width: 100%;
    background: url(../images/pexels-pavel-danilyuk-7521069.jpg) no-repeat center center;
    display: inline-block;
}

/* footer */

footer {
    width: 100%;
    background-color: darkgoldenrod;
    border: 2px solid #3a3a3a;
    left: 0;
    bottom: 0;
    text-align: center;
    list-style-type: none;
    display: block;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* get started page  */

#start-info {
    width: 100%;
    text-align: center;
    margin: 20px;
    padding: 50px;
    background-color: rgba(70, 168, 163, 0.925);
    float: left;

}

#what-need {
    width: 100%;
    text-align: center;
    margin: 20px;
    padding: 50px;
    background-color: rgba(108, 126, 30, 0.925);
    float: left;
}

#tuner-audio {
    width: 100%;
    text-align: center;
    margin: 20px;
    padding: 50px;
    background-color: rgba(108, 126, 30, 0.925);
    float: left;
}

#tuner-audio > h3 {
    margin: 10px;
}

#faqs {
    width: 100%;
    text-align: center;
    margin: 20px;
    padding: 50px;
    background-color: rgba(29, 119, 82, 0.925);
    float: left;
}

#guitar-strum {
    height: 500px;
    width: 100%;
    background: url(../images/pexels-brent-keane-1751731\ \(1\).jpg) no-repeat center center;
    display: inline-block;
}

/* Form section based on code from love running challenge signup form */

.form-section {
    clear: left;
    background: url("../images/pexels-artem-podrez-4680153.jpg") no-repeat center center;
    background-position: center;
    height: 600px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(179, 182, 35, 0.925);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width:100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #728812ea;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #1977adec;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* media queries */

/* for larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    
}

/* for medium screen sizes from 950px wide and down  */

@media screen and (max-width: 950px) {
   #nav-bar {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 25px;
        line-height: 25px;
    }

    h2 , h3 , p {
        text-align: center;
        padding: 0 20px;
    }
}