@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: pt setrif, sans-serif;
}

/* nav bar */

#header {
    width: 100%;
    height: 20%;
}

#logo {
    float: left;
    color: white;
    background-color: black;
}


#nav-bar {
    background-color: rgb(78, 57, 29);
}

#nav-bar li {
    display: inline;
    float: right;
    margin: 10px;
    font-size: larger;
}



/* home top */

#head-text {
    width: 100%;
    float: left;
    margin: 20px;
    padding: 10px;
    background-color: red;
    text-align: center;
}

#about-text {
    width: 100%;
    text-align: center;
    margin: 20px;
    padding: 50px;
    background-color: blue;
    float: left;
}

/* Footer */

/* footer */

footer {
    height: 150px;
    position: fixed;
    height: 20%;
    width: 100%;
    background-color: darkgoldenrod;
    left: 0;
    bottom: 0;
    text-align: center;
    list-style-type: none;
    display: block;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* footer {
    position: fixed;
    height: 20%;
    width: 100%;
    background-color: darkgoldenrod;
    left: 0;
    bottom: 0;
    text-align: center;
    list-style-type: none;
    display: block;
} */


/* #footer-elements {
    position: fixed;
    height: 20%;
    width: 100%;
    background-color: darkgoldenrod;
    left: 0;
    bottom: 0;
    text-align: center;
    list-style-type: none;
    display: block;
} */