@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: pt setrif, sans-serif;
}

/* nav bar */

.dan {
    text-align: center;
    margin: 20px;
}

#nav-bar {
    background-color: antiquewhite;
}

#nav-bar li {
    display: inline;
    float: right;
    margin: 10px;
    font-size: larger;
}


/* Footer */

footer {
    position: fixed;
    height: 20%;
    width: 100%;
    background-color: darkgoldenrod;
    left: 0;
    bottom: 0;
    text-align: center;
    list-style-type: none;
    display: block;
}

/* #footer-elements {
    position: fixed;
    height: 20%;
    width: 100%;
    background-color: darkgoldenrod;
    left: 0;
    bottom: 0;
    text-align: center;
    list-style-type: none;
    display: block;
} */